@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font: 400 1rem "Roboto", sans-serif;
}

body {
  background-color: #e0e0e0;
  margin: 0;
  padding: 0;
}

.container {
  margin: auto;
  max-width: 60rem;
  padding: 1rem;
}

h2 {
  margin-top: 0;
}

hr {
  --rotation: 0deg;
  background-color: #3B9AE1;
  border: 1px solid #4f4f4f;
  border-radius: 0.1875rem;
  cursor: pointer;
  display: block;
  height: 2.3125rem;
  margin: 0;
  position: relative;
  width: 100%;
}
hr::after {
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-top: 0.5rem solid rgba(0, 0, 0, 0.25);
  content: " ";
  left: calc(50% - 0.5rem);
  top: calc(50% - 0.25rem);
  position: absolute;
  transition: transform 0.75s ease;
  transform: rotate(var(--rotation));
}

.field-group {
  display: grid;
  grid-column-gap: 0.5rem;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.field-group:not(:last-child) {
  margin-bottom: 0.5rem;
}
.field-group .title {
  font-size: 1rem;
  font-weight: 700;
  grid-column: 1/span 2;
  padding-bottom: 0.125rem;
}
.field-group .title small {
  color: #3B9AE1;
}
.field-group label {
  font-size: 0.75rem;
  font-weight: 700;
  padding-bottom: 0.125rem;
}
.field-group textarea {
  grid-column: 1/-1;
}
.field-group .gutter-top {
  margin-top: 0.5rem;
}
.field-group .span {
  grid-column: 1/-1;
}

input,
input[type=checkbox] + label,
textarea {
  -moz-appearance: textfield;
  background-color: white;
  border: 1px solid #4f4f4f;
  border-radius: 0.1875rem;
  box-sizing: border-box;
  display: block;
  font: inherit;
  margin: 0;
  padding: 0.5rem;
  width: 100%;
}
input:focus,
input[type=checkbox] + label:focus,
textarea:focus {
  border-color: #3B9AE1;
  outline: 0;
}

input,
input[type=checkbox] + label {
  text-align: right;
}

textarea {
  grid-columns: 1/-1;
  resize: none;
  text-align: justify;
}

input[type=checkbox] {
  display: none;
}
input[type=checkbox]:checked + label {
  background-color: #3B9AE1;
}
